@page "/{worldName?}"
@using Wanderland.Web.Client.Services
@using Wanderland.Web.Shared
@inject WanderlandHubClient _hubClient

<PageTitle>Index</PageTitle>

@if(string.IsNullOrEmpty(WorldName))
{
    <h2>No world selected.</h2>
    <p>Please choose a world to observe from the navigation bar.</p>
}
else
{
    <WorldGrid WorldName="@WorldName"/>
}

@code
{
    [Parameter]
    public string? WorldName { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _hubClient.Start();
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
