@page "/{worldName?}"

<PageTitle>Index</PageTitle>

@if(string.IsNullOrEmpty(WorldName))
{
    <h2>No world selected.</h2>
    <p>Please choose a world to observe from the navigation bar.</p>
}
else
{
    <WorldGrid WorldName="@WorldName"/>
}

@code
{
    [Parameter]
    public string? WorldName { get; set; }
}
